* {
    margin: 0;
    padding: 0;
}

:root {
    --padding: 2%;
    --color1: #CCD5AE;
    --color2: #E9EDC9;
    --color3: #FEFAE0;
    --color4: #FAEDCD;
    --color5: #D4A373;



}

html,
body {
    max-width: 100%;
    overflow-x: hidden;


}

#header {
    position: fixed;
    top: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#header-content {
    width: 100%;
    height: 9vh;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    outline: solid;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#header-content>a {
    text-decoration: none;
    color: black;
}


#header-content>h1>a {
    text-decoration: none;
    color: black;

}

#wrapper {
    height: 85%;
    width: 100vw;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    padding-left: 2%;
    padding-right: 2%;
}

.references {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    padding-left: 2%;
    padding-right: 2%;
    color: slateblue;
}

.references>a {
    text-decoration: none;
}

#map-content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#map {
    margin-top: 20%;
    height: 800px;
}

.location {
    background: lightgreen;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    opacity: 95%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 12px;
}

.location:hover {
    filter: brightness(97%);
}

#header-content>*:hover {
    filter: brightness(50%);
}

#houston {
    top: 720px;
    left: 530px;
}

#new-york {
    top: 385px;
    left: 840px;
}

#la {
    top: 590px;
    left: 180px;
}

#detroit {
    top: 410px;
    left: 710px;
}

#genres {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.genre {
    padding-left: var(--padding);
    padding-right: var(--padding);
    height: 100vh;
    background-color: slategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
}

.genre-text-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.genre-title {
    font-size: 5vh;
}

.genre-text {
    font-size: 2.5vh;
    margin-top: 5vh;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}

.genre-image {
    margin-top: 2%;
    width: 50vw;
}

#lyrics-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-areas:
        "lyrics1 analysis1"
        "lyrics2 analysis2"
        "lyrics3 analysis3";
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    vertical-align: middle;
}

.lyrics {
    font-weight: 500;
}

#genre-1 {
    background-color: var(--color1);
}

#genre-2 {
    background-color: var(--color2);
}

#genre-3 {
    padding-top: 15vh;
    padding-bottom: 5vh;

    height: 45vh;
    background-color: var(--color3);
}

#big-sean {
    border: solid black;
}

#genre-4 {
    height: fit-content;
    background-color: var(--color4);
}

#genre-5 {
    height: fit-content;
    background-color: var(--color3);
}

#genre-6 {
    height: fit-content;
    background-color: var(--color1);
}

#stevie {
    height: 35vh;
    width: auto;
    border: solid black;
}

#hooker {
    height: 35vh;
    width: auto;
    border: solid black;
}

#icon-1 {
    height: fit-content;
    background-color: var(--color5);
}

#clifton {
    height: 30vw;
    width: auto;
}

#icon-2 {
    height: fit-content;
    background-color: var(--color1);
}

#icon-3 {
    height: fit-content;
    background-color: var(--color2);
}

#nwa-0 {
    height: 15vh;
    text-align: center;
    background-color: var(--color5);
}

#nwa-1 {
    height: fit-content;
    background-color: var(--color4);
}

#eazy-image {
    width: 25vw;
    height: auto;
}

#nwa-2 {
    height: fit-content;
    background-color: var(--color1);
}

#compton-image {
    width: 35vw;
    height: auto;
}

#nwa-3 {
    height: fit-content;
    background-color: var(--color2);
}

#mostwanted-image {
    height: 70vh;
    width: auto;
}

